{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="{{ path('home') }}"><img src="{{asset('build/logoGatoSith.png')}}" alt="logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('home') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('cv') }}">CV</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Codes</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('contact') }}">Contact
                        <span class="sr-only">(current)</span>
                    </a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="container">
			<div class="row text-light">
				{{ form_start(form) }}
					{{ form_row(form.name) }}
					{{ form_row(form.email) }}
					{{ form_row(form.message) }}
                    
                    <button class="btn btn-outline-info">Envoyer</button>
				{{ form_end(form) }}
			</div>

		</div>
	</div>

	<footer class="container-fluid">
		<p class="text-right mx-3 px-3">© Misterlynx - 2021</p>
	</footer>
{% endblock %}
